extend layout
block content
  p
    | To  Ming,
    |
    | You are the sun sink in the sunset,<br>
    | the cloud stroking by in the wind,<br>
    | the leaf sleep on Charles River,<br>
    | the queen forever in my deep mind.<br>
    |
    | It's fun chatting with u~
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
